# SPDX-License-Identifier: GPL-2.0-only
config VIDEO_VIVPU
	tristate "Virtual VPU Driver (vivpu)"
	depends on VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF2_VMALLOC
	select V4L2_MEM2MEM_DEV
	select MEDIA_CONTROLLER
	select MEDIA_CONTROLLER_REQUEST_API
	help
	  A virtual stateless VPU example device for uAPI development purposes.

	  A userspace implementation can use vivpu to run a decoding loop even
	  when no hardware is available or when the kernel uAPI for the codec
	  has not been upstreamed yet. This can reveal bugs at an early stage

	  When in doubt, say N.
